.public-post-preview{
margin: 5px 5px 5px 9px;
}
.footer-pagination-custom{
	text-align: center;
	float: right;
    font-size: 14px;
    margin-right: 16px;
    text-align: center;
}
.page_name_custom{
color:#0073aa !important;
}
.roles_custom{
	text-align: center;
}
.clearfix{
	height: 10px;
}
table tr:nth-child(odd) td{
           background:#f9f9f9;
}
table tr:nth-child(even) td{
            background:#fff;
}
h1{
	font-size: 21px!important;
}            
.message.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
    display: block;
    margin-top: 20px;
}
#page_list_table{
	width:99%;
	border-color: 1px solid #e5e5e5;

}
